html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
}

h1, h2 {
  color: #3f1622;
}

header + h1 {
  font-weight: bold;
}

img {
  width: 100%;
}

ul, ol, dl {
  font-family: 'PT Serif', serif;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
  color: #8f2440;
}
