html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
}

h1, h2 {
  color: #3f1622;
}

.days {
  font-weight: bold;
}

dt, dt {
  font-weight: bolder;
}

img {
  width: 100%;
}

figure {
  font-size: 1.125rem;
}

ul, ol, dl {
  font-family: "PT Serif", serif;
  font-weight: normal;
}

blockquote {
  text-align: center;
  font-size: 1.125rem;
  font-style: italic;
  font-weight: bold;
}

ul {
  font-size: 0.8rem;
}

h2 + ol {
  list-style-type: lower-greek;
}

.serving {
  font-style: italic;
}

a:hover {
  text-decoration: none;
  color: #8f2440;
}

a {
  color: #8f2440;
  text-decoration: none;
}
